<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./Style/style.css" />
    <title>Trip To The Moon</title>
    <link rel="shortcut icon" href="./Data/Img/favicon.ico" type="image/x-icon">

</head>

<body>

    <div id="progressbar"></div>
    <div id="scrollPath"></div>
    <div class="bg">
        <img src="./Data/Img/fond2.png" alt="" />
    </div>

    <header>
        <ul>
            <li>
                <svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 800" class="logo">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: #fff;
                            }
                        </style>
                    </defs>
                    <path class="cls-1"
                        d="M222.06,412.77H160.29V397.45h79.65c-2.09-6.51-8.82-12.54-20.67-12.54H161.45c-13.24,0-20.9,4.87-20.9,15.55v11.38c0,9.29,7.9,14.63,19.51,14.63h62.47v16.26H138.46c2.09,8.82,8.83,13.47,20.9,13.47h62.93c13.24,0,19.74-5.11,19.74-16V428.8C242,418.81,234.37,413.47,222.06,412.77Zm126.1-27.63H272v71.29h21.59V429h56.2c15.56,0,24.15-5.34,24.15-17.88v-7.9C373.7,391.64,364,385.14,348.16,385.14Zm7,22.76c0,5.1-.93,7.89-9.29,7.89H293.58l.24-18.58h51.09c9.28,0,10.45,2.79,10.45,7.67v3Zm90.57,20.66h-46l-11.38,12.08h66.42l11.37,15.79h25.55l-55-74.31-13,16ZM533,397.45h80.82c-2.09-8.36-10.22-12.54-21.83-12.54H531.61c-10.45,0-20.43,4.18-20.43,15.55v40c0,11.38,10,15.56,20.43,15.56h61.08c13.93,0,18.8-4,21.13-13.47H533Zm175.56,23.68V409.06H643.31v47.37h96.37V443H665.14V421.13Zm-62.93-36h97.3v12.54h-97.3Zm157.21,0h-33.9l39.94,29.26c5.81-3.95,12.54-8.13,18.58-11.61Zm49.24,36.46c-5.81,3.94-11.62,8.36-17.19,12.54l30.19,22.06h34.14Z" />
                    <path class="cls-1"
                        d="M1061.54,343.57c-185.78,10.68-271.7,90.1-291,108.91l-4,3.72H801C893.88,363.08,1027.4,346.59,1061.54,343.57Z" />
                </svg>
            </li>
            <li><a href="#repere_category1" class="link"><span class="mask">
                        <div class="link-container">
                            <span class="link-title1 title">About</span>
                            <span class="link-title2 title">About</span>
                        </div>
                    </span></a></li>

            <li><a href="#repere_category2" class="link"><span class="mask">
                        <div class="link-container">
                            <span class="link-title1 title">How</span>
                            <span class="link-title2 title">How</span>
                        </div>
                    </span></a></li>
            <li><a href="#repere_category3" class="link"><span class="mask">
                        <div class="link-container">
                            <span class="link-title1 title">Images</span>
                            <span class="link-title2 title">Images</span>
                        </div>
                    </span></a></li>
            <li><a href="#repere_category4" class="link"><span class="mask">
                        <div class="link-container">
                            <span class="link-title1 title">Contact</span>
                            <span class="link-title2 title">Contact</span>
                        </div>
                    </span></a></li>
        </ul>
    </header>

    <div class="hero__section">
        <p>We Choose to go to...</p>
    </div>

    <div class="coordonee">
        <p>292° 40' 48,43"-3° 32' 42,69"-65,48° //</p>
    </div>
    <div class="scrolldown">
        <p>Scroll down to see more on!</p>
    </div>

    <div class="bg2">
        <div class="flex">
            <div id="repere_category1">
                <p>01</p>
                <div></div>
            </div>
        </div>
        <div id="category1">
            <div class="bg2__container">
                <p>
                    <span>About</span> <br /><br /> The moon is earth's only natural satellite. At about one-quarter the diameter of earth (comparable to the width of australia), it is the largest natural satellite in the solar system relative to the
                    size of its planet, the fifth largest satellite in the solar system overall, and is larger than any dwarf planet.
                </p>

            </div>
            <div class="img">
                <img src="./Data/Img/moon-model.png" alt="" />

            </div>
            <div class="bg2__container2">
                <ul>
                    <li><span>Informations</span></li>
                    <li>Mass : 7.342×1022 kg</li>
                    <li>Circumference : 10 921 km</li>
                    <li>Rotation : 27,321 582 d</li>
                    <li>Axial Tilt : 6.687°</li>
                    <li>Sun-Moon : 152 503 397 km</li>
                    <li>Revolution : 28d</li>
                </ul>
            </div>

        </div>
        <div class="bg2__indic">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="bg2__button">
            <p>Learn More</p>
            <a href="https://fr.wikipedia.org/wiki/Lune">Learn More</a>
        </div>

        <div id="repere_category2">
            <p>02</p>
            <div></div>
        </div>
        <div id="category2">
            <div id="category2__indic">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <p>How to go there?</p>
            <div class="container">
                <div class="container__img1">
                    <img src="./Data/Img/img1.png" alt="" />
                    <h1>Lift Off</h1>
                    <a href="#" class="link">
                        <span class="mask">
                            <div class="link-container">
                                <span class="link-title1 title">READ MORE</span>
                        <span class="link-title2 title">READ MORE</span>
                </div>
                </span>
                <div class="link-icon">
                    <svg class="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                <path
                                    d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
                            </svg>
                    <svg class="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                <path
                                    d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
                            </svg>
                </div>
                </a>
            </div>
            <div class="container__img2">
                <img src="./Data/Img/img2.png" alt="" />
                <h1>Achieve low Earth orbit</h1>
                <a href="#" class="link">
                    <span class="mask">
                            <div class="link-container">
                                <span class="link-title1 title">READ MORE</span>
                    <span class="link-title2 title">READ MORE</span>
            </div>
            </span>
            <div class="link-icon">
                <svg class="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                <path
                                    d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
                            </svg>
                <svg class="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                <path
                                    d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
                            </svg>
            </div>
            </a>
        </div>
        <div class="container__img3">
            <img src="./Data/Img/img3.png" alt="" />
            <h1>trans-lunar trajectory</h1>
            <a href="#" class="link">
                <span class="mask">
                            <div class="link-container">
                                <span class="link-title1 title">READ MORE</span>
                <span class="link-title2 title">READ MORE</span>
        </div>
        </span>
        <div class="link-icon">
            <svg class="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                <path
                                    d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
                            </svg>
            <svg class="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                <path
                                    d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
                            </svg>
        </div>
        </a>
    </div>
    <div class="container__img4">
        <img src="./Data/Img/img4.png" alt="" />
        <h1>Land</h1>
        <a href="#" class="link">
            <span class="mask">
                            <div class="link-container">
                                <span class="link-title1 title">READ MORE</span>
            <span class="link-title2 title">READ MORE</span>
    </div>
    </span>
    <div class="link-icon">
        <svg class="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                <path
                                    d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
                            </svg>
        <svg class="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                <path
                                    d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
                            </svg>
    </div>
    </a>
    </div>
    <div class="container__img5">
        <img src="./Data/Img/img5.png" alt="" />
        <h1>Descend</h1>
        <a href="#" class="link">
            <span class="mask">
                            <div class="link-container">
                                <span class="link-title1 title">READ MORE</span>
            <span class="link-title2 title">READ MORE</span>
    </div>
    </span>
    <div class="link-icon">
        <svg class="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                <path
                                    d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
                            </svg>
        <svg class="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                <path
                                    d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
                            </svg>
    </div>
    </a>
    </div>
    <div class="container__img6">
        <img src="./Data/Img/img6.png" alt="" />
        <h1>Explore</h1>
        <a href="#" class="link">
            <span class="mask">
                            <div class="link-container">
                                <span class="link-title1 title">READ MORE</span>
            <span class="link-title2 title">READ MORE</span>
    </div>
    </span>
    <div class="link-icon">
        <svg class="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                <path
                                    d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
                            </svg>
        <svg class="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                                <path
                                    d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
                            </svg>
    </div>
    </a>
    </div>
    </div>
    </div>

    <div class="flex">
        <div id="repere_category3">
            <p>03</p>
            <div></div>
        </div>
    </div>

    <div id="category3">
        <p>Images</p>
        <div class="flex">
            <div class="img-slider">
                <div class="slide active">
                    <img src="./Data/Img/image1.png" alt="">
                    <div class="info">
                        <h2>The Moon</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="slide">
                    <img src="./Data/Img/image2.png" alt="">
                    <div class="info">
                        <h2>The Moon</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="slide">
                    <img src="./Data/Img/image3.png" alt="">
                    <div class="info">
                        <h2>The Moon</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="slide">
                    <img src="./Data/Img/image4.png" alt="">
                    <div class="info">
                        <h2>The Moon</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="slide">
                    <img src="./Data/Img/image5.jpg" alt="">
                    <div class="info">
                        <h2>The Moon</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="navigation">
                    <div class="btn active"></div>
                    <div class="btn"></div>
                    <div class="btn"></div>
                    <div class="btn"></div>
                    <div class="btn"></div>
                </div>
            </div>
            <!-- <div class="slider">
                <div class="slides">
                    <input type="radio" name="radio-btn" id="radio1">
                    <input type="radio" name="radio-btn" id="radio2">
                    <input type="radio" name="radio-btn" id="radio3">
                    <input type="radio" name="radio-btn" id="radio4">
                    <div class="slide first">
                        <img src="./Data/Img/image1.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="./Data/Img/image2.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="./Data/Img/image3.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="./Data/Img/image4.png" alt="">
                    </div>
                </div>
                <div class="navigation-manual">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                    <label for="radio4" class="manual-btn"></label>
                </div>
            </div> -->
        </div>


        <div id="category3__indic">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>


    </div>
    <div id="repere_category4">
        <p>04</p>
        <div></div>
    </div>
    <div id="category4">
        <p class="contact">Contact <br> <span>Our Astrological Expert</span> </p>
        <div class="div" id="app">
            <form class="flex" v-on:submit.prevent="handleSubmit">


                <div class="div2">
                    <p>First Name</p>
                    <input class="input1" type="text" placeholder="Enter Your First Name Here..." maxlength="64" v-model="form.firstName" required="required" />
                    <p>Last Name</p>

                    <input class="input2" type="text" placeholder="Enter Your Last Name Here..." maxlength="64" v-model="form.lastName" required="required" />
                </div>
                <p>E-mail</p>
                <input class="input3" type="email" placeholder="Enter Your E-mail Here..." maxlength="64" v-model="form.email" required="required" />

                <div class="div3">

                    <textarea class="textarea" placeholder="Enter Your Message Here..." maxlength="150" v-model="form.message" required="required"></textarea>
                </div><input class="input4" type="submit" value="Submit" />
            </form>
        </div>
        <div id="category4__indic">
            <span></span>
            <span></span>
            <span></span>
            <span></span>

        </div>



    </div>

    </div>

    <script src="./App/app.js"></script>


</body>

</html>